pip install ydata-profiling
sudo apt install default-jdk
# tensorflow install binary version
bazel build -c opt --copt=-march=native --define=with_xla_support=true --define=no_aws_support=true --define=no_hdfs_support=true --define=no_nccl_support=true
--define=no_gcp_support=true --host_copt=-w --local_ram_resources=6048 //tensorflow/tools/pip_package:build_pip_package
# llvm 설치
wget https://apt.llvm.org/llvm.sh
chmod +x llvm.sh
sudo ./llvm.sh <version number>